<main class="statsBackground">
  <div class=" text-center ">

    <div class="card-body statsBackground">
      <h5 class="card-title statsHeading statsPadding statsWelcome">Welcome {{username}}! </h5>
      <p class="card-text statsSubHeading">Check out your stats, start a new game or continue your previous game! </p>
      <br>
      <a href="/difficulty" class="btn btn-success buttonPadding btn-lg buttonSpacer p-4 m-4" style="font-weight:bold; font-size: 24pt">New Game</a>
      <a href="/continuedgame" class="btn btn-secondary btn-lg buttonSpacer p-4" style="font-weight:bold; font-size: 24pt">Resume Game</a>

    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-12 statsPaddingLeft">
      {{!-- Easy Mode Container --}}
      <h1 style="color:#6FFFE9">Your Stats Below</h1>
      <div class="container statsPadding statsEasy">
        <div class="row align-items-center">
          <div class="row">
            <div class="col-12">
              <h3 style="text-align: center;" class="statsHeading">Your "Easy" Difficulty Record</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-6 text-center">
              <h2 class="statsText"> Number of Games Completed:</h2>
              <h1>{{easyGamesCompleted}}</h1>
            </div>
            <div class="col-6 text-center">
              <h2 class="statsText"> Total Games:</h2>
              <h1>{{totalEasyGames}}</h1>
            </div>
          </div>
        </div>

      </div>
      <br>
      {{!-- Medium Mode Container --}}

      <div class="container statsPadding statsMedium">
        <div class="row align-items-center">
          <div class="row">
            <div class="col-12">
              <h3 style="text-align: center;" class="statsHeading">Your "Medium" Diffuclty Record</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-6 text-center">
              <h2 class="statsText"> Number of Games Completed:</h2>
              <h1>{{mediumGamesCompleted}}</h1>
            </div>
            <div class="col-6 text-center">
              <h2 class="statsText"> Total Games: </h2>
              <h1>{{totalMediumGames}}
            </div>
          </div>
        </div>

      </div>

      {{!-- Hard Mode Contaiener --}}
      <br>
      <div class="container statsPadding statsHard ">
        <div class="row align-items-center">
          <div class="row">
            <div class="col-12 text-center">
              <h3 style="text-align: center;" class="statsHeading">Your "Hard" Diffuclty Record</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-6 text-center">
              <h2 class="statsText"> Number of Games Completed:</h2>
              <h1>{{hardGamesCompleted}}</h1>
            </div>
            <div class="col-6 text-center">
              <h2 class="statsText"> Total Games: </h2>
              <h1>{{totalHardGames}}
            </div>
          </div>
        </div>

      </div>

      {{!-- Expert Mode Container --}}
      <br>
      <div class="container statsPadding statsExpert">
        <div class="row align-items-center">
          <div class="row">
            <div class="col-12">
              <h3 style="text-align: center;" class="statsHeading"> Your "Expert" Diffuclty Record</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-6 text-center">
              <h2 class="statsText"> Number of Games Completed:</h2>
              <h1>{{expertGamesCompleted}}</h1>
            </div>
            <div class="col-6 text-center">
              <h2 class="statsText"> Total Games: </h2>
              <h1>{{totalExpertGames}}</h1>
            </div>
          </div>
        </div>

      </div>
    </div>

    {{!-- Achievement Block --}}

    <div class="col-md-4 col-sm-12 achievementHeader">
      <h1 style="color:#6FFFE9">Achievements</h1>
      <div class="card padding-left: 75px;" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title achievementHeader"><i class="fas fa-trophy"></i>&nbsp;Easy Peasy</h5>

          <p class="card-text">You completed 10 easy puzzles!</p>
          <a href="#" class="card-link">Share on Twitter!</a><br />
          <a href="#" class="card-link">Share on Facebook!</a>

        </div>
      </div>
    </div>

  </div>

<script>





</script>




</main>