<body class="statsBackground">
  <div class=" text-center ">

    <div class="card-body statsBackground">
      <h5 class="card-title statsHeading statsPadding statsWelcome">Welcome {{username}}! </h5>
      <p class="card-text statsSubHeading">Check out your Stats, Records, and Start a New Game or continue your Previous
        Game! </p>
      <br>
      <a href="/difficulty" class="btn btn-success buttonPadding btn-lg buttonSpacer">New Game!</a>
      <a href="#" class="btn btn-secondary btn-lg buttonSpacer">Resume Game!</a>

    </div>
  </div>

<br>
<br>
<br>
<br>


  <div class="div container">
    <div class="div row">
      <div class="div col-6">
        <h1 style="text-align: center;">Your Recrded Stats Below</h1>
      </div>
    </div>
  </div>






  <div class="row">
    <div class="col-8 statsPaddingLeft">

      <br>
      {{!-- Easy Mode Container --}}

      <div class="container statsPadding statsEasy">
        <div class="row align-items-center">
          <div class="row">
            <h3 style="text-align: center;" class="statsHeading">Your Recorded "Easy" Diffuclty is Recorded Below</h3>
            <br>
            <br>
            <div class="col-4">
              <h2 class="statsText"> Average Time: {{averageTime}}</h2>
              <h4> </h4>
            </div>
            <div class="col-4">
              <h2 class="statsText"> Number of Games Played: {{totalGames}}</h2>

            </div>
            <div class="col-4">
              <h2 class="statsText"> Previous Games: </h2>
            </div>
          </div>
        </div>

      </div>
      <br>
      {{!-- Medium Mode Container --}}

      <div class="container statsPadding statsMedium">
        <div class="row align-items-center">
          <div class="row">
            <h3 style="text-align: center;" class="statsHeading">Your Recorded "Medium" Difficulty is Recorded Below</h3>
            <br>
            <br>
            <div class="col-4">
              <h2 class="statsText"> Average Time: {{averageTime}} </h2>

              <h4> </h4>
            </div>
            <div class="col-4">
              <h2 class="statsText"> Number of Games Played: {{totalGames}} </h2>

            </div>
            <div class="col-4">
              <h2 class="statsText"> Previous Games: </h2>
            </div>
          </div>
        </div>

      </div>

      {{!-- Hard Mode Container --}}
      <br>
      <div class="container statsPadding statsHard ">
        <div class="row align-items-center">
          <div class="row">
            <h3 style="text-align: center;" class="statsHeading">Your Recorded "Hard" Difficulty is Recorded Below</h3>
            <br>
            <br>
            <div class="col-4">
              <h2 class="statsText"> Average Time: </h2>

              <h4> </h4>
            </div>
            <div class="col-4">
              <h2 class="statsText"> Number of Games Played: {{totalGames}} </h2>

            </div>
            <div class="col-4">
              <h2 class="statsText"> Previous Games: </h2>
            </div>
          </div>
        </div>

      </div>

      {{!-- Expert Mode Container --}}
      <br>
      <div class="container statsPadding statsExpert">
        <div class="row align-items-center">
          <div class="row">
            <h3 style="text-align: center;" class="statsHeading"> Your Recorded "Expert" Diffuclty is Recorded Below
            </h3>
            <br>
            <br>
            <div class="col-4">
              <h2 class="statsText"> Average Time: </h2>

              <h4> </h4>
            </div>
            <div class="col-4">
              <h2 class="statsText"> Number of Games Played:</h2>

            </div>
            <div class="col-4">
              <h2 class="statsText"> Previous Games: </h2>
            </div>
          </div>
        </div>

      </div>
    </div>

    {{!-- Achievement Block --}}

    <div class="div col-4 achievementHeader">
      <h1 class="achievementCenter achievementHeader">Your Achievements!</h1>
      <div class="card padding-left: 75px;" style="width: 18rem;">


        <div class="card-body">
          <h5 class="card-title achievementHeader"><i class="fas fa-trophy"></i>Card title</h5>

          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.
          </p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>


        </div>
      </div>
    </div>

  </div>

<script>






</script>




</body>